[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
djangorestframework = "==3.6.3"
Django = "==1.11.29"
mysql-python = "*"
pillow = "*"
cognitive-face = "*"
django-crontab = "*"
cloudinary = "*"
matplotlib = "*"
networkx = "*"

[requires]
python_version = "2.7"
